html {
  font-size: 100%;
  width: 1440px;
  font-family: Helvetica;
}
body {margin: 0;}

@mixin header_title {
  color: #8747ab;
}
@mixin header_title2 {
  letter-spacing: 1pt;
}
@mixin header_p {
  color: #3f546c;
  font-size: 20px;
  line-height: 26px;
}
@mixin list {
  list-style: none;
}
@mixin title_center {
  clear: both;
  text-align: center;
}
@mixin wraps {
  text-align:center;
  margin: 0 130px;
}
@mixin img_1 {
  width: 100%;
}
.h1, .h2, .h3, .h4, .h5{
  @include header_title;
}
.h1, .h2, .h3, .h4, .h5, .contact_title {
  @include header_title2;
}

.h1, .h2, .h3, .h4, .h5, .contact_title{
  font-size: 50px;
}

.headerp, .aboutusp,  .Projectsp, .copyright {
  @include header_p;
}
.h3, .h4, .h5, .contact_title, .copyright{
  @include title_center
}
.range_wraps, .Projects_wraps {
  @include wraps;
}
.range_wraps, .Projects_wraps, .opinions_wraps, .contactp_wraps{
  display: flex;
}

.opiimg, .contactp_wrap {
  @include img_1;
}

.range_wrap, .Projects_wrap, .opinions_wrap, .contactp_wrap {
  display: inline-block;
}
.Projects_wrap, .contactp_wrap {
  margin: 25px;
}
.header {
  height: 876px;
  background-image: url("../img/top.png");
  background-repeat: no-repeat;
  background-position:right;
  background-size: 876px 876px;
  .headerul {
    @include list;
    float: right;
    font-size: 16px;
    color: #fff;
    margin: 0 167px;
    letter-spacing: -0.17px;
    position: relative;
    li {
      display: inline-block;
      margin: 51px 10px;
    }
    img {
      width: 19pt;
      height: 18pt;
      position: absolute;
      top: 50%;
      left: 564px;
      transform: translateY(-50%);
    }
  }
  .logos {
    position: relative;
    float: left;
    .headerlogo1 {
      width: 85px;
      height: 84px;
      margin: 20.1px 20px 20px 121.1px;
    }
    .headerlogo2 {
      width: 168.07px;
      height: 40.9px;
      position: absolute;
      top: 50%;
      left: 234.2px;
      transform: translateY(-50%);
    }
  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  .h1{
    margin-top: 245px;
  }
  .h1, .headerp{
    margin-left: 120px;
    clear: both;
  }
  .callus {
    background-image: linear-gradient(116deg, #ea4972 0%, #4a51e2 100%);
    border-radius: 7px;
    width: 169px;
    height: 53px;
    color: #fff;
    margin-left: 120px;
    margin-top: 30px;
    text-align: center;
    line-height: 50px;
  }
}
.aboutus {
  height: 598.3px;
  width: 1440px;
  float: right;
  .h2 {
    margin: 72px auto 24px;
  }
  .aboutus_img {
    height: 598.3px;
    width: 775px;
    margin: 40px 59px 40px 0;
    float: left;
    .clearfix::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.range {
  clear: both;
  h3 {
    margin: 132px auto 67px;
  }
  .range_wraps {
    text-align: center;
    .range_wrap {
      margin: auto 10px;
      padding-left: 30px;
      p {
        color: #3f546c;
      }
      .rangep {
        color: #d8d8d8;
      }
      .rangeimg {
        width: 201px;
        margin: auto 16px;
      }
    }
  }
}
.projects {
  h4 {
    margin: 176px auto 63px;
  }
  .projectimg {
    height: 340px;
    width: 312.6px;
    margin: auto 15px;
  }
}
.projects_p {
  border: 1px solid #3f546c;
  border-radius: 7px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #3f546c;
  font-size: 20px;
}
.opinions {
  h5 {
    margin: 128px auto 26.3px;
  }
  .opinions_bi {
    background-image: url("../img/Opiimg.png");
    background-repeat: no-repeat;
    background-size: 1440px 800.2px;
    height: 800.2px;
    position: relative;
    .opinions_wraps {
      text-align:center;
      margin: 65px 27px;
      position: absolute;
      top: 150px;
      .opinions_wrap1,.opinions_wrap2 {
        background-color: #fff;
        border-radius: 20px;
        color: #d8d8d8;
        text-align:left;
        line-height: 28px;
        letter-spacing: 0.17pt;
        .name1, .name3 {
          margin-right: 150px;
        }
        .fill1 {
          color: #ea4972;
          opacity: 0.5;
        }
        .fill2 {
          color: #ea4972;
        }
        .name1, .name2 {
          color: #8747ab;
        }
        .name1 {
          color: #8747ab;
          opacity: 0.5;
        }
        .name2 {
          margin-right: 180px;
        }
        .name3 {
          color: #9b9b9b;
        }
        .title1, .title2 {
          text-decoration: underline;
        }
        .title2 {
          color: #506883;
        }
      }
      .opinions_wrap1 {
        width: 380px;
        height: 220px;
        margin: 20px 10px;
        padding: 10px 25px 25px;
        position: relative;
        img {
          position: absolute;
          top: -45px;
        }
      }
      .opinions_wrap2 {
        width: 450px;
        height: 240px;
        padding: 35px 20px 25px;
        position: relative;
        img {
          position: absolute;
          top: -45px;
        }
      }
    }
  }
}
.contact {
  margin-top: 86.3px;
  .contactabout {
    background-image: url("../img/Contact.png");
    background-repeat: no-repeat;
    background-size: 1440px 539px;
    height: 539px;
    margin: 86.3px auto 0;
    position: relative;
    color: #fff;
    .contactabout_wrap {
      width: 1440px;
      margin-top: 86.3px;
      position: absolute;
      top: 5px;
      left: 10px;
      .contact_title {
      }
      .contactp_wraps {
        font-size: 16px;
        margin: 0px 263px 0 300px ;
        width: 1000px;
        height: 300px;
      }
      .contactp_wrap {
        text-align: left;
        margin: 50px;
        width: 250px;
        height: 100px;
      }
    }
  }
  .contactmap {
    background-image: url("../img/maps.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 713px;
    position: relative;
    .message {
      width: 381px;
      height: 552px;
      position: absolute;
      left: 224px;
      top: -80px;
    }
    .place {
      width: 54px;
      height: 78px;
      position: absolute;
      left: 824px;
      top: 223px;
    }
    .partition1 {
      position: absolute;
      top: 560px;
    }
    .partition2 {
      position: absolute;
      top: 615px;
    }
    form {
      width: 262px;
      height: 410px;
      background-color: #fff;
      border-radius: 20px;
      padding: 30px 28px;
      font-size: 10px;
      position: absolute;
      top: -47px;
      left: 255px;
      box-shadow: 10px 10px 60px 0px #8d9aa9;
      .phone {
        position: relative;
        img {
          position: absolute;
          left: 7px;
          top: 27px;
        }
      }
      p {
        color: #3f546c;
        margin-bottom: 9px;
        ::-webkit-input-placeholder {
          color: #ccc;
        }
        input, textarea {
          border-radius: 7px;
          border-color: #8d9aa9;
          margin-top: 5px;
        }
        input {
          height: 30px;
        }
        .text1 {
          width: 220px;
          border: 2px solid;
          border-image: linear-gradient(116deg, #ea4972 0%, #4a51e2 100%);
          border-image-slice: 1;
        }
        .text2 {
          width: 190px;
        }
        .text3 {
          width: 255px;
        }
        .text2, .text3 {
          border: 1px solid #8d9aa9;;
        }
        textarea {
          width: 255px;
          height: 95px;
        }
      }
      .sendamessage {
        background-image: linear-gradient(116deg, #ea4972 0%, #4a51e2 100%);
        border-radius: 7px;
        width: 160px;
        height: 45px;
        color: #fff;
        text-align: center;
        font-size: 15px;
        margin-left: 100px;
      }
    }
  }
}
.footer {
  height: 370px;
  .footerul, .footerul2{
    @include list;
    margin-top: 40px;
    float: left;
    color: #3f546c;
    letter-spacing: 0.41pt;
    line-height: 40px;
    font-size: 20px;
  }
  .footerul{
    margin-left: 224px;
  }
  .footerul2{
    margin-left: 100px;
  }
  .footerlogo {
    float: right;
    width: 10%;
    margin: 35px 220px 3px;
  }
  .copyright {
    clear: both;
    border-top: 1px solid #3f546c;
    padding: 20px 186px 50px 290px;
    font-size: 12px;
    position: relative;
    img {
      position: absolute;
      left: 300px;
      top: 23px;
    }
    .cr_span1 {
      margin: 0 50px 0 200px;
    }
    .cr_span2 {
      margin: 0 30px;
    }
    .cr_span3 {
      margin: 0 30px;
    }
  }
}
